<!-- <!doctype html>
<html lang="tr">
    <head>
    <meta charset="UTF-8">

        {% if title %}
            <title>{{ title }} - Microblog</title>
        {% else %}
            <title>Microblog'a Hoş Geldiniz</title>
        {% endif %}
    </head>
    <body>
        <h1>Merhaba, {{ user.username }}!</h1>

        {% for post in posts %} #posts listesindeki her eleman sırayla post değişkenine atanır.
            <div>
                <p>
                    {{ post.author.username }}: #Gönderinin yazarını gösterir.
                    <b>{{ post.body }}</b> #Gönderinin içeriğini gösterir.
                </p>
            </div>
        {% endfor %}
    </body>
</html> -->

<!-- index.html dosyasının base.html şablonunu temel alacağını bildirir. -->

{% extends "base.html" %} 

{% block content %}
    <h1>Merhaba, {{ user.username }}!</h1>

    {% for post in posts %}
        <div>
            <p>
                {{ post.author.username }}:
                <b>{{ post.body }}</b>
            </p>
        </div>
    {% endfor %}
{% endblock %}